:root{ /* cus = custom */
    --cus-title-font: "Comic Sans MS";

    --cus-black: #303030;
    --cus-grey: #7a7a7a;
    --cus-dark-blue:#0043a8 ;
    --cus-light-blue: #89cff0;
    --cus-green: #00C600;
    --cus-pink: #F4279D;
    --cus-white: #f0f0f0;

    --cus-trans-blue: #89cff0d0;
    --cus-trans-black: #30303020;
}