@import "../styles/GlobalVariables.scss";

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--cus-black); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cus-grey); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--cus-grey); 
}